@{
    ViewData["Title"] = "About US";
}

<h1 class="display-4 golden">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm-6">
        <h2>Vision</h2>
        <p>
            Our vision is to ensure that our beneficiaries reach their full potential and
            become contributing members of society by alleviating poverty and social injustices.
            We work with communities, empowering them to reach their full potential.
            We are committed to creating a gateway for giving.
            we have focused our efforts on assisting and supporting the most impoverished communities across South Africa,
            ensuring that we help wherever help is needed in a strategic, unified and sustainable way with food and clothing.
            The Giving Legend is not affiliated to any one charity but is an effective,
            well networked conduit that connects those who want to assist with those who need assistance.
            Since our early, humble beginnings, our aim has been to alleviate human suffering by giving a hand up,
            enabling people to become self-sufficient. While our response initially was reactive,
            we have evolved into an organisation that has the capacity, resources and broad network to assist
            not only the rebuilding of communities but to make an immediate and impactful
            difference to the lives of thousands of South Africans.
        </p>
    </div>
    <div class="col-sm-6">
        <img src="~/Media/logo.png" alt="imgLogo" width="50%"/>
    </div>
</div>