@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 goldenclr" style="color:#ffa800">Welcome to The Giving Legend</h1>
    <center><img src="~/Media/logo.png" alt="imgLogo" width="50%" /></center>
    <button type="button" class="btn btn-warning">Join The crew</button>
 
</div>

<br />
<h4 class="goldenclr">Class Struture Diagrams</h4>
<br />

<p class="goldenclr">Donation items (Diagram 1)</p>
<div class="row">
    <div class="col-sm-6 clDigram" style=""><img src="~/Media/class_structure_diagram(donor items).png" width="90%" alt="diagram_Donoritm" /></div>
</div>

<br /><br />
<h4 class="goldenclr">Usecase Narratives</h4>
<br />
