@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 goldenclr" style="color:#ffa800">Welcome to The Giving Legend</h1>
    <center><img src="~/Media/logo.png" alt="imgLogo" width="50%" /></center>
    <button type="button" class="btn btn-warning btn-lg" onclick="location.href='@Url.Action("Register", "Registration")'"><i class="fa fa-user-plus"></i> Join The crew</button>
    <button type="button" class="btn btn-success btn-lg" onclick="location.href='@Url.Action("newDonation", "AddDonation")'"><i class="fa fa-eye"></i> View Items we accept</button>

</div>


<br /><hr color="#ffa800" />
<h4 class="goldenclr">Class Struture Diagrams</h4>
<hr color="#ffa800" />

<p class="goldenclr">Donation items (Diagram 1)</p>
<div class="row">
    <div class="col-sm-6 clDigram" style=""><img src="~/Media/class_structure_diagram(donor items).png" width="90%" alt="diagram_Donoritm" /></div>
    <div class="col-sm-6 clDigram" style=""><img src="~/Media/class structure diagram (donors).png" width="100%" alt="diagram_Donoritm2" /></div>
</div>

<br /><hr color="#ffa800" />
<h4 class="goldenclr">Usecase Narratives</h4>
<hr color="#ffa800" />


<label class="goldenclr">1.1 View Accepted Items</label>
<img src="~/Media/UC1.png" width="90%" alt="UC1" /><br /><br />

<label class="goldenclr">1.2 View Our Partners</label>
<img src="~/Media/UC2.png" width="90%" alt="UC2" /><br /><br />

<label class="goldenclr">2.1 Add New Donation</label>
<img src="~/Media/UC3.png" width="90%" alt="UC3" /><br /><br />

<label class="goldenclr">3.1 Register As Donor</label>
<img src="~/Media/UC4.png" width="90%" alt="UC4" />