@model List<TGLDonors>
@{
    ViewData["Title"] = "Our Partners";
}

<h1 class="display-4 goldenclr">@ViewData["Title"]</h1>
<p>This is a list of all the organisations who have partnered with us in seeing through with our Mission and Vision</p>
<hr/>

<table class="table bg-warning">
    <tr>
        <th>Partner Name</th>
        <th>Details</th>
        <th>Partner ID</th>
    </tr>
    @{
        var PartnerCate = "";
        foreach (var item in Model)
        {
            if (item.GetType() == typeof(Organisation))
            {
                PartnerCate = Convert.ToString(item.GetType());
                PartnerCate = PartnerCate.Replace("u21589276_HW04.Models.", " ");
            }
            if (item.GetType() == typeof(Individual))
            {
                PartnerCate = Convert.ToString(item.GetType());
                PartnerCate = PartnerCate.Replace("u21589276_HW04.Models.", " ");
            }
        }
    }
    @foreach (var partner in Model)
    {
        <tr>
            <td>@partner.Name</td>
            <td>This is an @PartnerCate.</td>
            <td>@partner.getDonorID()</td>
        </tr>
    }
</table>