@{
    ViewData["Title"] = "Our Partners";
}

<h1 class="display-4 goldenclr">@ViewData["Title"]</h1>
<p>This is a list of all the organisations who have partnered with us in seeing through with our Mission and Vision</p>
<hr/>

<table class="table bg-warning">
    <tr>
        <th>Partner Name</th>
        <th>Details</th>
    </tr>
</table>